.footer__container{
  align-items: center;
  background-color: #C4C4C4;
  bottom: 0;
  display: flex;
  height: 2.5rem;
  justify-content:space-between;
  position: fixed;
  padding: .5rem 0;
  width: 100%;
}

.footer__link{
  cursor: pointer;
  padding: 0 .5rem;
}
